@import "~bootstrap/scss/bootstrap.scss";

.video-screen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.btn-call {
  margin-left: 10px;
  border-radius: 20px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.payer {
  margin-bottom: 40px;
}

.button-margin-right {
  margin-right: 20px;
}

.payer.active .card {
  background-color: rgb(3, 169, 244);
}

.btn-reset {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
}

.list-payer {
  height: 800px;
  overflow: scroll;
}

.payer {
  .card-body {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .payer-title {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }

  .payer-score {
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-top: -3px;
  }
}
