@import "~bootstrap/scss/bootstrap.scss";

.video-screen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.btn-call {
  margin-left: 10px;
  border-radius: 20px;
}
